#terminos{
    font-size: 0.8em !important;
}


.info{
    font-size: 0.9em !important;
    
}

.centrar-text{
    margin: auto !important;
    text-align: center !important;
}


.text-registro{
    font-size: 12px !important;
}