<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Registro 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-text class="ion-margin-top ion-text-center" color="medium">
    <h1>¡Bienvenido a Car Lot!</h1>
  </ion-text>
  <ion-text class="ion-text-center" color="secondary">
    Registrate y conoce los grandes beneficios de ser usuario Car Lot
  </ion-text>
  <br>
  <br>
  <form (ngSubmit)="logForm()">
    <ion-row>
      <ion-col size="6">
        <ion-item class="ion-margin-top">
          <ion-label position="stacked" color="primary"><ion-icon name="person"></ion-icon> NOMBRE</ion-label>
          <ion-input type="text"  [(ngModel)]="person.nombre" name="nombre"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
          <ion-item class="ion-margin-top">
              <ion-label position="stacked" color="primary">APELLIDO</ion-label>
              <ion-input type="text"  [(ngModel)]="person.apellido" name="apellido"></ion-input>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-item class="ion-margin-top">
        <ion-label position="stacked" color="primary"><ion-icon name="phone-portrait"></ion-icon> TELEFONO</ion-label>
        <ion-input type="tel"  [(ngModel)]="person.telefono" name="telefono"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-top">
        <ion-label position="stacked" color="primary"> <ion-icon name="mail"></ion-icon> EMAIL</ion-label>
        <ion-input type="email"  [(ngModel)]="user.correo" name="correo"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-top">
        <ion-label position="stacked" color="primary"><ion-icon name="lock"></ion-icon> PASSWORD</ion-label>
        <ion-input type="password"  [(ngModel)]="user.password" name="password"></ion-input>
    </ion-item>
    <br>
    <ion-text color="medium">
      <div  class="ion-text-justify" id="terminos" >
        Al seleccionar la opcion "Finalizar Registro", aceptas nuestras Condiciones y la Política de datos. Es posible que te enviemos notificaciones por SMS, que puedes desactivar cuando quieras.
      </div> 
    </ion-text>
    <br>
    <br>
    <ion-button expand="block" color="primary" type="submit">
        Finalizar Registro
        <!--Basic: auto-select the icon based on the platform -->
        <ion-icon slot="end" name="checkmark-circle"></ion-icon>
    </ion-button>
  </form>

</ion-content>

 