
<ion-toolbar color="primary">
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="primary">
        <ion-button color="" (click)="presentActionSheet()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-toolbar>

<ion-content class="ion-no-padding background">
    
    <ion-card color="secondary" class="ion-text-center ion-padding-bottom ion-no-margin card-profile">
        <br>
        <ion-avatar class="avatar">
            <img src="{{data_user.image}}">
        </ion-avatar>
        <ion-text  color="dark" class="ion-text-center ">
           <h4>{{data_user.nombre}} {{data_user.apellido}}</h4>
        </ion-text>
        <ion-text  color="darkm"  class="ion-margin-bottom">
          <ion-icon name="mail" color="darkm"></ion-icon>
            {{data_user.correo}}
        </ion-text>
        <br>
        <br>
        <ion-text color="darkm" class="ion-margin-top">
          <ion-icon name="call" color="darkm"></ion-icon>
          {{data_user.telefono}}
        </ion-text>
    </ion-card>

    <ion-card color="secondary" class="" >
      <ion-item>
        <ion-label color="medium">
          Mi ticket
        </ion-label>
        <ion-icon name="paper" slot="end" color="primary"></ion-icon>
      </ion-item>
      
      <ion-item>
        <ion-label color="medium">
          Historial
        </ion-label>
        <ion-icon name="time"  slot="end" color="primary"></ion-icon>
      </ion-item> 
    </ion-card>

    <ion-row class="ion-margin">
      <ion-col align-items-center>
          <ion-card class="ion-padding ion-no-margin">
              <ion-tab-button (click)="openCamera()" >
                <ion-icon name="options" color="primary"></ion-icon>
                <ion-label color="primary">Config</ion-label>
              </ion-tab-button>
          </ion-card>
      </ion-col>
      <ion-col>
          <ion-card class="ion-padding ion-no-margin">
              <ion-tab-button (click)="openCamera()" >
                <ion-icon name="camera" color="primary"></ion-icon>
                <ion-label color="primary">Photo</ion-label>
              </ion-tab-button>
          </ion-card>
      </ion-col>
      <ion-col>
          <ion-card class="ion-padding ion-no-margin">
              <ion-tab-button (click)="openCamera()" >
                <ion-icon name="camera" color="primary"></ion-icon>
                <ion-label color="primary">Photo</ion-label>
              </ion-tab-button>
          </ion-card>
      </ion-col>
    </ion-row>
  
    
</ion-content>
