
<ion-toolbar color="secondary">
    <ion-title>Profile</ion-title>
    <ion-buttons slot="primary">
        <ion-button color="" (click)="presentActionSheet()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-toolbar>


<ion-content class="ion-no-padding">
    
    <ion-card color="secondary" class="" >
        <br>
        <ion-avatar class="avatar">
            <img src="{{data_user.image}}">
        </ion-avatar>
        <ion-text  color="light" class="ion-text-center">
           <h4>{{data_user.nombre}} {{data_user.apellido}}</h4>
        </ion-text>
        <ion-text  color="medium" class="ion-text-center">
            <p>{{data_user.correo}}</p>
        </ion-text>
    </ion-card>
       
    <ion-card class="ion-padding">
        <p>Telefono: {{data_user.telefono}}</p>
    </ion-card>

    
    <ion-grid>
        <ion-row align-items-center >
            <ion-col >
                <ion-card class="ion-no-margin ion-padding">
                    <ion-buttons slot="primary">
                        <ion-button color="" (click)="action()">
                            <ion-icon slot="icon-only" name="paper"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-card>    
            </ion-col>
            <ion-col>
                <ion-card class="ion-no-margin ion-padding">
                    <ion-buttons slot="primary">
                        <ion-button color="" (click)="action()">
                                <ion-icon name="time" slot="icon-only"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="ion-no-margin ion-padding">
                    <ion-buttons slot="primary">
                        <ion-button color="" (click)="action()">
                            <ion-icon slot="icon-only" name="paper" color="dark"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    

    
</ion-content>
