:root {
  --ion-color-primary: #ff5722;
  --ion-color-primary-rgb: 255,87,34;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #e04d1e;
  --ion-color-primary-tint: #ff6838;

  --ion-color-secondary: #f57c00;
  --ion-color-secondary-rgb: 245,124,0;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #d86d00;
  --ion-color-secondary-tint: #f6891a;

  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112,68,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  --ion-color-success: #ff5722;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #ff5722;
  --ion-color-success-tint: #ff5722;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #5e3030;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #575757;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-facebook: #2043aa;
  --ion-color-facebook-rgb: 244,244,244;
  --ion-color-facebook-contrast: #fafafa;
  --ion-color-facebook-contrast-rgb: 0,0,0;
  --ion-color-facebook-shade: #d7d8da;
  --ion-color-facebook-tint: #203468;

  --ion-color-tabs: #ffffff;
  --ion-color-tabs-rgb: 244,244,244;
  --ion-color-tabs-contrast: #7e5050;
  --ion-color-tabs-contrast-rgb: 0,0,0;
  --ion-color-tabs-shade: #d7d8da;
  --ion-color-tabs-tint: #f5f6f9;
}


.ion-color-facebook{
  --ion-color-base: var(--ion-color-facebook);
  --ion-color-base-rgb: var(--ion-color-facebook-rgb);
  --ion-color-contrast: var(--ion-color-facebook-contrast);
  --ion-color-contrast-rgb: var(--ion-color-facebook-contrast-rgb);
  --ion-color-shade: var(--ion-color-facebook-shade);
  --ion-color-tint: var(--ion-color-facebook-tint);
}

.ion-color-tabs{
  --ion-color-base: var(--ion-color-tabs);
  --ion-color-base-rgb: var(--ion-color-tabs-rgb);
  --ion-color-contrast: var(--ion-color-tabs-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tabs-contrast-rgb);
  --ion-color-shade: var(--ion-color-tabs-shade);
  --ion-color-tint: var(--ion-color-tabs-tint);
}


