:root {
  --ion-color-primary: #ff7043;
  --ion-color-primary-rgb: 255,87,34;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #e04d1e;
  --ion-color-primary-tint: #ffa270;

  --ion-color-secondary: #ffa270;
  --ion-color-secondary-rgb: 245,124,0;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #d86d00;
  --ion-color-secondary-tint: #ff7043;

  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112,68,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  --ion-color-success: #ff7043;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #ff5722;
  --ion-color-success-tint: #ff5722;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #5e3030;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-darkm: #c63f17;
  --ion-color-darkm-rgb: 34,34,34;
  --ion-color-darkm-contrast: #ffffff;
  --ion-color-darkm-contrast-rgb: 255,255,255;
  --ion-color-darkm-shade: #1e2023;
  --ion-color-darkm-tint: #383a3e;

  --ion-color-medium: #535353;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;


  // dark c63f17
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #3d3d3d;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-facebook: #2043aa;
  --ion-color-facebook-rgb: 244,244,244;
  --ion-color-facebook-contrast: #fafafa;
  --ion-color-facebook-contrast-rgb: 0,0,0;
  --ion-color-facebook-shade: #d7d8da;
  --ion-color-facebook-tint: #203468;

  --ion-color-tabs: #ffffff;
  --ion-color-tabs-rgb: 244,244,244;
  --ion-color-tabs-contrast: #7e5050;
  --ion-color-tabs-contrast-rgb: 0,0,0;
  --ion-color-tabs-shade: #d7d8da;
  --ion-color-tabs-tint: #f5f6f9;

  --ion-color-disponible: #22b943;
  --ion-color-disponible-rgb: 244,244,244;
  --ion-color-disponible-contrast: #7e5050;
  --ion-color-disponible-contrast-rgb: 0,0,0;
  --ion-color-disponible-shade: #d7d8da;
  --ion-color-disponible-tint: #f5f6f9;

  --ion-background-color: #ffffff;

}


.ion-color-facebook{
  --ion-color-base: var(--ion-color-facebook);
  --ion-color-base-rgb: var(--ion-color-facebook-rgb);
  --ion-color-contrast: var(--ion-color-facebook-contrast);
  --ion-color-contrast-rgb: var(--ion-color-facebook-contrast-rgb);
  --ion-color-shade: var(--ion-color-facebook-shade);
  --ion-color-tint: var(--ion-color-facebook-tint);
}

.ion-color-tabs{
  --ion-color-base: var(--ion-color-tabs);
  --ion-color-base-rgb: var(--ion-color-tabs-rgb);
  --ion-color-contrast: var(--ion-color-tabs-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tabs-contrast-rgb);
  --ion-color-shade: var(--ion-color-tabs-shade);
  --ion-color-tint: var(--ion-color-tabs-tint);
}

.ion-color-darkm{
  --ion-color-base: var(--ion-color-darkm);
  --ion-color-base-rgb: var(--ion-color-darkm-rgb);
  --ion-color-contrast: var(--ion-color-darkm-contrast);
  --ion-color-contrast-rgb: var(--ion-color-darkm-contrast-rgb);
  --ion-color-shade: var(--ion-color-darkm-shade);
  --ion-color-tint: var(--ion-color-darkm-tint);
}

.ion-color-disponible{
  --ion-color-base: var(--ion-color-disponible);
  --ion-color-base-rgb: var(--ion-color-disponible-rgb);
  --ion-color-contrast: var(--ion-color-disponible-contrast);
  --ion-color-contrast-rgb: var(--ion-color-disponible-contrast-rgb);
  --ion-color-shade: var(--ion-color-disponible-shade);
  --ion-color-tint: var(--ion-color-disponible-tint);
}

a{
  text-decoration: none !important;
}

