.ion-button-google{
    --ion-color-base: var(--ion-color-google);
    --ion-color-base-rgb: var(--ion-color-google-rgb);
    --ion-color-base-contrast: var(--ion-color-google-contrast);
    --ion-color-base-contrast-rgb: var(--ion-color-google-contrast-rgb);
    --ion-color-base-shade: var(--ion-color-google-shade);
    --ion-color-base-tint: var(--ion-color-google-tint);
}


