

<ion-content class="ion-padding">
    <img src="assets/img/car.png" alt="">
    
    <ion-item class="ion-margin-top">
      <ion-label position="stacked" color="secondary">EMAIL</ion-label>
      <ion-input type="text"  [(ngModel)]="email" name="email" autofocus="false"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-top ion-margin-bottom" >
      <ion-label position="stacked" color="secondary">PASSWORD</ion-label>
      <ion-input type="password"  [(ngModel)]="password"  name="password" ></ion-input>
    </ion-item >
    <br>
    <br>
    <br>
    <ion-button (click)="onSubmitLogin()" expand="block" color="primary">
        Sign in
    </ion-button>
    <br>
    <ion-button expand="block" color="facebook">
        Sign in with facebook
        <ion-icon color="light" name="logo-facebook"></ion-icon>
    </ion-button>
    <br>
    <div class="ion-text-center">
      <ion-label  class="text-center" color="medium">¿No tienes una cuenta? <a href="" routerLink="/registrouser">Registrate</a></ion-label>  
    </div>
   
   
    
    

</ion-content>


