<ion-toolbar color="secondary">
    <ion-title> Map</ion-title>
    <ion-buttons slot="primary">
        <ion-button color="" (click)="presentActionSheet()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-toolbar>

<ion-content class="ion-no-padding">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14985.922700136887!2d-98.42921797830076!3d20.113984633100568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d05602c77bfea9%3A0x880c6542d395afc9!2sJaltepec%2C%20Hgo.!5e0!3m2!1ses-419!2smx!4v1575043551134!5m2!1ses-419!2smx" width="400" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</ion-content>