<ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Park</ion-title>  
  </ion-toolbar>
  
  <ion-content>
    <img src="" alt="">
    <div class="ion-padding">
      <ion-text color="primary">
        <h3>Estacionamiento Cuautemoc</h3>
      </ion-text>
      <ion-text class="text-justify" color="medium"> 
        Contamos con el mejor servicio, gente capacitada que te brindara a mejor atencion y seguridad para tu auto 
      </ion-text>
      <br>
        <form id="form">
            <p class="clasificacion">
                <input id="radio1" type="radio" name="estrellas" value="5">
                <label for="radio1">★</label>
                <input id="radio2" type="radio" name="estrellas" value="4">
                <label for="radio2">★</label>
                <input id="radio3" type="radio" name="estrellas" value="3">
                <label for="radio3">★</label>
                <input id="radio4" type="radio" name="estrellas" value="2">
                <label for="radio4">★</label>
                <input id="radio5" type="radio" name="estrellas" value="1">
                <label for="radio5">★</label>
              </p>
        </form>
      <ion-row class="ion-no-padding ion-no-margin">
        <ion-col size="6" class="ion-no-padding ion-no-margin">
          <ion-text color="secondary">
            <h5>Tarifa</h5>
          </ion-text>
          <ion-text color="medium">
              $10 x hra
            </ion-text>
                
        </ion-col>
        <ion-col size="6" class="ion-no-padding ion-no-margin">
          <ion-text color="secondary">
            <h5>horarios</h5> 
          </ion-text>
          <ion-text color="medium">
              8:00hrs - 20:00hrs
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding ion-no-margin">
        <ion-col size="6" class="ion-no-padding ion-no-margin">
          <ion-text color="secondary">
            <h5>Dias de servicio</h5>
          </ion-text>
          <ion-text color="medium">
            L-M-M-J-V-S
          </ion-text>
                
        </ion-col>
        <ion-col size="6" class="ion-no-padding ion-no-margin">
          <ion-text color="secondary">
            <h5>Disponibilidad</h5>
          </ion-text>
        </ion-col>
      </ion-row>
      <br>
      <ion-button fill="outline"  expand="block" [routerLink]="[ '/reservas']"  >Reservar</ion-button >
    </div>
    
  </ion-content>
  