<ion-toolbar color="secondary">
    <ion-title> Park-One</ion-title>
    <ion-buttons slot="primary">
        <ion-button color="" (click)="presentActionSheet()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-toolbar>
<ion-content class="ion-padding">
    <!--
    <ion-text color="secondary">
        <h3>Estacionamientos mejor calificados</h3>
    </ion-text>
    -->
    <ion-button expand="block" [routerLink]="[ '/tabs/tab3']" >
        ir al mapa
        <ion-icon name="pin" color="tabs"></ion-icon>
    </ion-button> 

    
    <ion-row class="ion-no-padding ion-no-margin" *ngFor="let park of parks" >
        <ion-col size="12" class="ion-no-padding ion-no-margin" >
            
            
            <ion-card routerLink="/perfil-park/{{park.id}}" class="ion-no-padding ion-no-margin ion-margin-top">

                    <img src="{{park.image}}" alt="" id="img-park">
                    
                    <ion-card-content>
                        <ion-card-title  color="primary">{{park.nombre_park}}</ion-card-title>
                        <p  class="description">{{park.descripcion}}</p>
                        <ion-card-subtitle>Precio por hora:  ${{park.tarifa}}</ion-card-subtitle>
                        <br>
                        <ion-icon name="heart"></ion-icon> 156
                    </ion-card-content>
                </ion-card>
                
        </ion-col>
    </ion-row>




        
   
    
    
    
</ion-content>
