<ion-toolbar color="secondary">
    <ion-title> Parkone</ion-title>
    <ion-buttons slot="primary">
        <ion-button color="" (click)="presentActionSheet()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-toolbar>
<ion-content class="ion-padding">
    
    <ion-text color="secondary">
        <h3>Estacionamientos mejor calificados</h3>
    </ion-text>
    <ion-button expand="block">
        ir al mapa
        <ion-icon name="pin" color="tabs"></ion-icon>
    </ion-button> 
    <!--CARDS-->
    <ion-card>
        <img src="assets/img/esta.png" alt="">
        
        <ion-card-content>
            <ion-card-title  color="primary">Nombre del Estacionamiento</ion-card-title>
            <p>breve descripcion como horarios y tarifa</p>
            <ion-card-subtitle>Hra $30.00</ion-card-subtitle>
           
        </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let user of users" class="ion-padding">
        <p>{{user.correo}}</p>
        <p>{{user.password}}</p>
        
        <ng-container *ngIf="user.image == ''; else elseTemplate">
            <p>no tiene foto</p>
        </ng-container>
        <ng-template #elseTemplate>
            <p>si tiene foto</p>
        </ng-template>
        
    </ion-card>

        
   
    
    
    
</ion-content>
